*,
*:after,
*:before {
   box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 400;
    color: #fff;
    font-size: 2.2rem;
    padding: 20px;
}

#dog-name {
    font-weight: 800;
}

h3 {
    font: 800 black;
    text-align: center;
    baseline-shift: baseline;
    padding-bottom: 12px;
}

header {
    background-color: #75e2e6;
    text-align: left;
    height: 60px;
    border-bottom: 3px solid #3F8DA8;
    font-size: 16px;
}

.menu {
    position: inline;
    float: right;
}

a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.navbanner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/park.jpg");
    background-size: cover;
    background-position: center bottom;
    color: #fff;
}

/*Slightly off center to the left to match comp*/
form {
    width: 33%;
    margin-left: 32%;
}

p.form-label {
    color: #fff;
    text-align: left;
    margin: 0px;
}

#submit {
    width: 100%;
    height: 45px;
    font: 400 3rem #000;
}

#submit-button {
    background-color: #75e2e6;
    width: 100%;
    height: 45px;
    color: #000;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

p {
    padding: 10px;
}

.dog-img {
    margin: auto;
    display: block;
    border: 5px solid #048eaa;
    border-radius: 50%;
    max-width: 200px;
}

.icon-img {
    padding: 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.buckets {
    text-align: left;
    padding: 20px;
    margin: 20px;
    column-count: 3;
}

article {
    vertical-align: text-top;
    height: 625px;
    width: 35%;
    min-width: 260px;
    margin: auto;
    position: relative;
}

button {
    background-color: #048eaa;
    width: 100%;
    color: #fff;
    height: 50px;
    margin-bottom: 30px;
    /*vertical-align: baseline;*/
    font-size: 17px;
    position: absolute;
    bottom: 0px;
}

.footer {
    background-color: #048eaa;
    color: #fff;
    text-align: center;
    height: 175px;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}